prefer-workspace-packages=true
link-workspace-packages=true
hoist-pattern[]=*types*
hoist-pattern[]=vitest
hoist-pattern[]=*biome*
hoist-pattern[]=tsx
hoist-pattern[]=typescript
auto-install-peers=true
strict-peer-dependencies=false
